<div class="container">
  <!--Jumbotron-->
  <div class="jumbotron">
    <h1>ng Reactive Forms</h1>
    <p>
      This is an evolving project developed to enhance personal understanding
      of forms, controls, and actions with captured information.
    </p>
  </div>
  <hr>
  <!-- Card deck -->
  <div class="row">
    <div class="col-md-4">
      <md-card>Card 1</md-card>
    </div>
    <div class="col-md-4">
      <md-card>Card 2</md-card>
    </div>
    <div class="col-md-4">
      <md-card>Card 3</md-card>
    </div>
  </div>
  <hr>
  <!-- Material Form -->
  <signup-form></signup-form>

</div>